@media (max-width:600px) {
    header nav {
        flex-direction: column;
        gap: 20px;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .header-title h1 {
        font-size: 40px;
    }

    .about-us p:nth-child(3) {
        width: 90%;
    }

    .team-description ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px 44px;
    }

    .team-description ul li img {
        width: 200px;
        height: 200px;
    }

    .choose-us li > p {
        width: 65%;
        margin: auto;
    }

    .blog-news ul {
        gap: 30px;
    }
}