@media (max-width:600px) {

    .w3-right {
        display: none;
    }

    .w3-col.m6 .w3-opacity-min {
        display: none;
    }
    
    .w3-col.m6 {
        width: 100%;
    }

    h5 {
        font-size: 25px;
    }

    .w3-large {
        font-size: 22px;
    }

    .w3-col.l6 {
        width: 100%;
    }

    h4 {
        font-size: 26px;
    }

    h1 {
        font-size: 45px;
    }

    body {
        font-size: 19px;
    }

    .w3-large {
        font-size: 21px;
    }

    
}
