:root {
    --background-color-section-one: #e1f1fb;
    --background-color-section-two: #44a9f8;
    --color-text: #6a6a6a;
    --color-title: #435162;
    --color-btn: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--color-text);
}

.section {
    width: 40%;
    height: 45vh;
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 1px 1px 5px;
}


/* SECTION - ONE */
.section.one {
    background-color: var(--background-color-section-one);

}

.title {
    color: var(--color-title);
    margin-bottom: 20px;
}

.list-item {
    margin-bottom: 10px;
}

.list-item i {
    margin-right: 10px;
    color: var(--background-color-section-two);
}


/* SECTION - TWO */
.section.two {
    border: 5px solid var(--background-color-section-two);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section.two span {
    color: var(--background-color-section-two);
    font-weight: 600;
    font-size: 40px;
}

.btn {
    all: unset;
    color: var(--color-btn);
    background-color: var(--background-color-section-two);
    padding: 5px 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px var(--color-text);
    text-shadow: 1px 0px 2px;
    font-family: 'Montserrat', sans-serif;
}
