:root {
    --background-color-btn: #a4c639;
    --color-hedings:#1e1e1e;
    --color-text:#979797;
    --background-color-card: #f7f7f7;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

h1, 
h2 {
    color: var(--color-hedings);
}

.btn {
    border: none;
    padding: 5px 20px;
    border-radius: 16px;
    background-color: var(--background-color-btn);
    color: var(--background-color-card);
}


/* HEADER */
.header {
    text-align: center;
}

.header span {
    color: var(--background-color-btn);
}

/* MAIN */
main {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card {
    width: 370px;
    background-color: var(--background-color-card);
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    padding: 20px;
}




