table {
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
    margin: 50px auto;
}

th {
    background: #CCCCCC;
    text-align: left;
}

th,
td {
    border: 1px solid rgb(221, 221, 221);
    padding: 5px;
    font-size: 18px;
}

tr:nth-child(odd) {
    background: rgb(241, 241, 241);
}

tr:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}