:root {
    --color-btn: #f4f7f2;
    --background-color-btn: #03a87c;
    --background-color-text: #cefde9;
    --color-title: #292929;
    --color-text: #7d7d7d;
    --background-color-body: #222222;
    --background-color-section: #fff;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
    color: var(--color-title);
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--color-text);
    background-color: var(--background-color-body);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15.6px;
}

.section {
    max-width: 95vw;
    height: 80vh;
    background-color: var(--background-color-section);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info {
    width: 60%;
    justify-content: start;
}

.info .title {
    font-size: 45px;
}

.article {
    display: flex;
    align-items: end;
    width: 60%;
    gap: 20px;
}

.button,
.content {
    width: 50%;
}

.btn {
    all: unset;
    padding: 10px 55px;
    background-color: var(--background-color-btn);
    color: var(--color-btn);
    font-weight: bold;
    border-radius: 3px;
}

.content .title {
    font-size: 13px;
    margin-bottom: 15px;
}

.content .desc span {
    background-color: var(--background-color-text);
}

.article::after {
    content: "";
    width: 30%;
    height: 1px;
    background: var(--color-text);
    display: block;
    margin: -50px;
    margin-left: -623px;
}
