:root {
    --color-text: #707070;
    --color-title: #222222;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-title);
    font-size: 17px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80vw;
    height: 90vh;
}

article {
    width: 50%;
}

.conteiner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    font-size: 13px;
}

.conteiner .desc-one{
    margin-bottom: -15px;
}

.conteiner .title {
    font-size: 20px;
    font-weight: 600;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    width: 10%;
    margin-right: 5px;
}
